{% extends 'base.html.twig' %}

{% block title %}{{ article.data.title }}{% endblock %}
{% block description %}{{ article.data.description }}{% endblock %}

{% block body %}
    <content class="grid grid-cols-4 gap-3">
        <article class="col-span-3">
            <a href="{{ path('app_blog') }}"><i class="gg-chevron-left"></i> Retour au Blog</a>

            {% apply markdown_to_html %}
                {{ article.text }}
            {% endapply %}

            {% if previous is not empty %}
            <a class="float-left" href="{{ previous }}">
                <i class="gg-chevron-left"></i>
                Article précédent
            </a>
            {% endif %}
            {% if next is not empty %}
                <a class="float-right" href="{{ next }}">
                    Article suivant
                    <i class="gg-chevron-right"></i>
                </a>
            {% endif %}

        </article>

        <aside class="col-span-1">
            <ul class="tags">
                {% for tag in article.data.tags %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </aside>
    </content>
{% endblock %}