{% extends 'base.html.twig' %}

{% block title %}{{ data.title }}{% endblock %}
{% block description %}{{ data.description }}{% endblock %}

{% block body %}
    {% apply markdown_to_html %}
        {{ text }}
    {% endapply %}

    <div class="layout-hero blog">
        <div class="grid grid-cols-3">
        {% for article in articles %}
                <div>
                    <h3>{{ article.data.title }}</h3>
                    {% apply markdown_to_html %}
                        <ul class="tags">
                            {% for tag in article.data.tags %}
                                <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                    {% endapply %}
                </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}