{% extends 'base.html.twig' %}

{% block title %}{{ data.title }}{% endblock %}
{% block description %}{{ data.description }}{% endblock %}

{% block body %}
    {% apply markdown_to_html %}
        {{ text }}
    {% endapply %}

    <div class="layout-hero blog">
        <div class="grid grid-cols-3">
        {% for article in articles %}
                <div class="mx-16">
                    <h3><a href="{{ path('app_article', {'id':article.data.id}) }}">{{ article.data.title }}</a></h3>
                    <p>
                        {% apply markdown_to_html %}
                            {{ article.data.description }}
                        {% endapply %}
                    </p>
                </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}